
/* * {
    outline: 0.25px solid blue;
} */

body {
    background-color: rgb(252, 227, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(97, 47, 47);
}

header {
    background-image: url(https://thumb1.shutterstock.com/mosaic_250/163225782/747618916/stock-photo-vintage-whitewash-painted-rustic-old-wood-plank-wall-textured-background-faded-washed-natural-wood-747618916.jpg);
    padding: 5px 150px 5px 150px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 4em;
    font-style: italic
}

header h2 {
    font-size: 2em;
    margin-left: 15%;
    font-style: italic
}

#sculptureGarden {
    width: 50%;
    border: 5px solid rgb(97, 47, 47);
}

nav {
    box-sizing: border-box;
    padding-top: 100px;
    width: 48%;
    float: right;
}

nav ul {
    margin: 0px;
    list-style-type: none;
}

nav ul li {
    padding-bottom: 75px;
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
}

footer {
    margin-top: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 100%;   
}

footer h2 {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#smiley {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 45% 0px 45%;
}

#funFacts {
    box-sizing: border-box;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background-image: url(https://thumb1.shutterstock.com/mosaic_250/163225782/747618916/stock-photo-vintage-whitewash-painted-rustic-old-wood-plank-wall-textured-background-faded-washed-natural-wood-747618916.jpg);
}


a:link {
    color: rgb(43, 124, 97);
}

a:visited {
    color: rgb(97, 47, 47);
}